{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
    {% include 'admin/_parts/sidebar.html.twig' %}


    <main>
    <table>
        <th>Title</th>
        <th>Link</th>
        <th>Published Date</th>
    {% for episode in episodes %}
        <tr>
            <td><a href="{{ path('episode.create', {'episodeId': episode.id}) }}">{{  episode.title }}</a></td>
            <td><a href="{{ path('episode.create', {'episodeId': episode.id}) }}"> {{  episode.link }}</a></td>
            <td><a href="{{ path('episode.create', {'episodeId': episode.id}) }}">{{ episode.publishedDate|date('d-m-Y') }}</a></td>
        </tr>
    {% else %}
        <li>
            <em>
                no episodes exist.
                <a href="{{ path('episode.create') }}">
                    Click here
                </a>
                to add your first episode :)
            </em>
        </li>
    {% endfor %}
    </table>
    </main>
    </div>
{% endblock %}