<ul>
    <li><a href="{{ path('podcast') }}">Podcast Details</a></li>
    <li><a href="{{ path('episode') }}">Episodes</a></li>
    <li><a href="{{ path('category') }}">Categories</a></li>
    <li><a href="{{ path('tag') }}">Tags</a></li>
    <li><a href="{{ path('settings') }}">Settings</a></li>
</ul>